<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/products/save" method="post">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" placeholder="Input title">
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="text" name="price" id="price" placeholder="999.99">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" placeholder="Talk about the book">
        </div>

        <input type="submit" value="Save">
    </form>
</body>
</html>